<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.BuyMapper" >
	 <select id="buytotal" resultType="int">
  		 select sum(cnt) from traveller group by day_id order by day_id;
  </select>
</mapper>